{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block stylesheets %}
    {{ macros.multiple_stylesheets(['root.css', 'styles.css']) }}
{% endblock %}

{% block base_header %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.sort_by.label }}
        {{ form.sort_by() }}
        {{ form.recent.label }}
        {{ form.recent() }}
        {{ form.submit() }}
    </form>
{% endblock %}

{% block main_content %}
    <h2>{{ form.sort_by.data }} posts from {{ form.recent.data }}</h2>
    <section id="posts">
        {% for post in posts %}
            <section class="post">
                <h3>{{ post.submission_time }}</h3>
                <p>{{ post.likes }} likes</p>
                {{ macros.render_post(post.background, post.message) }}
            </section>
        {% endfor %}
    </section>
{% endblock %}