{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main_content %}
    <h1>Log in</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ macros.label_field_errors(form.username) }}
        <br />
        {{ macros.label_field_errors(form.password) }}
        <br />
        {{ form.submit() }}
    </form>
    <p>
        New user? <a href="{{ url_for('register') }}">Create an account here!</a>
    </p>
    {% if message %}
        <p>
            {{ message }}
        </p>
    {% endif %}
{% endblock %}