@import "root.css";

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.post {
    display: grid;
    grid-template-areas:
        "likes      date"
        "post       post"
        "comments    comments";

    margin: 1.2em;
}

.post > h3 {
    grid-area: date;
    margin: 0;
    padding-right: 1rem;
    text-align: right;
}

.post > h3:hover {
    background: lightgray;
}

#likes-and-submission-time {
    grid-area: likes;
    font-size: 1.17em;
    margin: 0;
    padding-left: 1rem;
    text-align: left;
}

#likes-and-submission-time:hover {
    background: lightgray;
}

.post > div {
    grid-area: post;
    width: 14rem;
    height: 14rem;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    text-align: center;

    font-weight: bold;
    color: white;
}

#comments {
    grid-area: comments;
    min-height: 2rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    margin-top: 0;
}

#comments:hover {
    background: lightgray;
}

#comments a {
    color: black;
    text-decoration: none;
}

#comments a:visited {
    color: black;
}

form * {
    font-size: 1.75rem;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

form > input[type=submit] {
    background: yellow;
    border-radius: 0.3em;
}